{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/signup.css') }}">
{% endblock %}

<section class="signup_window">
<div class="register_img">
</div>

{{ form_start(registrationForm) }}
<h1>Register</h1>
{{ form_row(registrationForm.username) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}


<button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}{% endblock %}
</section>
