{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un produit - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/store/store-create.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
    <section class="store-create popup_container-create">

        <div class="form-content__container">
            <h1 class="marginbt-1">Ajouter un produit</h1>

            <div class="form-content flex">


                <div class="start">
                    {{ form_start(form) }}
                    <div class="part">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                    </div>
                    <div class="part">
                        {{ form_row(form.price) }}
                        {{ form_row(form.picture) }}
                    </div>
                </div>

                <div class="end">
                    <div class="part">
                        {{ form_row(form.category) }}
                        {{ form_row(form.stores) }}

                    </div>
                    <div class="part">
                        {{ form_label(form.is_available)}}
                        {{ form_errors(form.is_available)}}
                        {{ form_widget(form.is_available)}}
                        {{ form_help(form.is_available)}}

                    </div>

                    <button class="btn-second">
                        Ajouter
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </section>
{% endblock %}