{% extends 'base.html.twig' %}

{% block title %}
    Les boutiques - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/store/store-list.css') }}">
{% endblock %}

{% block body %}
    <section class="store-list">
        <h1 class="title-custom marginbt-1">Les boutiques disponibles</h1>

        <div class="flex">

            <div class="container__items flex">
            {%  for store in stores %}
                <div class="item margin box-shadow">
                    <h4 class="subtitle-custom marginbt-1">{{ store.name }}</h4>
                    <div class="container__picture marginbt-1">
                        <img src="{{ asset('images/uploads/stores/' ~ store.picture)}}" alt="{{ store.name }}">
                    </div>

                    <div class="btns flex">
                        <div>
                            {% for address in store.addresses %}
                                {{ address.zipcode }}, {{ address.city }}
                            {% endfor %}
                        </div>
                        <div class="marginbt-1">
                            {{ store.description | striptags | slice (0,50)}}
                        </div>

                        <button class="btn btn-second marginbt-1" type="submit" form="form" value="Submit">
                            <a href="{{ path('store_single' , {'slug': store.slug} ) }}">Voir la boutique</a>
                        </button>

                    </div>
                </div>
            {%  endfor %}

            </div>
        </div>
    </section>

{% endblock %}
