{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/search-bar.css') }}">

{% endblock %}

{% block javascript %}
	<script src="{{ asset('js/locator.js') }}" defer></script>
{% endblock %}

{% block body %}
	<div class="search-bar">
	{{ form_start(searchForm) }}
	{{ form_row(searchForm.category) }}
	<span id="location-point">
		<i class="fa-solid fa-location-crosshairs"></i>
	</span>
	{{ form_row(searchForm.location) }}
	{{ form_row(searchForm.range) }}
	<div class="submit_button">
	<button type="submit" class="btn btn-main">Rechercher</button>
</div>
	{{ form_end(searchForm) }}
</div>
{% endblock %}
