{% extends 'base.html.twig' %}
{% block title %}
    Ma liste de course - 
            
        
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/groceries-list.css') }}">
    {% endblock %}
    {% block body %}
        <div class="container">
            <h2>
                Ma liste de course
                                            
                            
            </h2>
            <div class="products-container">
            {% for product in groceryList %}
                <div class="product-card">
                    <div class="product_img" style="background-image: url( {{ asset('images/uploads/products/' ~ product.picture ) }})"></div>
                    <span class="bold">
                        {{ product.name }}
                                            
                    </span>
                    <div class="price">
                        <h3>
                            
                                    Prix                
                        </h3>
                        <span>&euro; {{ product. price }}/kg</span>
                    </div>
                {% for farm in product.stores %}

                    <div class="farm">
                        <h3>
                            Ferme
                        </h3>
                        <span>{{ farm.name }}</span>
                    </div>
                {% endfor %}
                    <a href="{{ path('user_remove-product', {id: product.id}) }}"><i class="fas fa-times"></i></a>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endblock %}
    