{% extends 'base.html.twig' %}

{% block title %}
    Profil utilisateur - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-profil.css') }}">
{% endblock %}

{% block body %}
<section class="profil">
    <h1 class="title-custom marginbt-1">Mon profil utilisateur</h1>

    <div class="content flex">
        <div class="start-pro margin ">
            <img class="marginbt-1" src="{{ asset('images/avatar-profil-pro.png')}}"  alt="avatar">
            {# <p>Modifiez votre avatar ?</p> #}
            <button class="btn btn-second logout" type="submit" form="form" value="Submit">
                <a href="{{ path('user_logout') }}">Se déconnecter</a>
            </button>
        </div>

        <div class="infos margin">

            <h4>Nom du commerce :</h4>
            <div class="text-icon">
                <p>Le domaine de la Sainte Vachette</p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Description :</h4>
            <div class="text-icon">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sapiente recusandae qui in suscipit excepturi? Pariatur iure asperiores,
                    enim iusto excepturi alias veritatis quia omnis architecto magnam,
                    eum vel exercitationem voluptas quos dolores aut facere molestiae illum,
                    ipsum maxime? Quisquam, animi?
                </p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Email publique :</h4>
            <div class="text-icon">
                <p>mailrandom@gmail.com</p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Adresse :</h4>
            <div class="text-icon">
                <p>5 rue de la Mafia, Lille, 59800</p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Téléphone :</h4>
            <div class="text-icon">
                <p>5 rue de la Mafia, Lille, 59800</p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Moyen de paiement :</h4>
            <div class="text-icon">
                <p>Carte bleue, espèces</p>
                <i class="fas fa-edit"></i>
            </div>

            <h4>Horaires :</h4>
            <div class="text-icon">
                <p>10h - 15h tous les jours.</p>
                <i class="fas fa-edit"></i>
            </div>

        </div>
        <div class="end-pro margin">
            <button class="marginbt-1 btn btn-second">
                <a href="{{ path('store_single')}}"><i class="fas fa-globe-europe m-r-1"></i>Consulter ma page publique</a>
            </button>
            <button class="marginbt-1 btn btn-second">
                <a href="{{ path('store_index')}}"><i class="fas fa-store m-r-1"></i>Gérer mes boutiques</a>
            </button>
            <button class="marginbt-1 btn btn-second">
                <a href="{{ path('product_index')}}"><i class="fa-solid fa-carrot m-r-1"></i>Gérer mes produits</a>
            </button>
            <button class="marginbt-1 btn btn-main-outline">
                <a href="#" >Une question ? <br> Contactez le support technique</a>
            </button>

            </div>  
        </div>

            <div class="gallery">
                <h4>Photos</h4>
                <div class="iconsWithPictures flex">
                    <i class="fas fa-chevron-left"></i>
                        <div class="container-pictures flex">
                            <div class="container__picture">
                                <img src="{{ asset('images/store/factory.jpg')}}" alt="vachette">
                            </div>
                            <div class="container__picture">
                                <img src="{{ asset('images/store/middle-size.jpg')}}" alt="vachette">
                            </div>
                            <div class="container__picture">
                                <img src="{{ asset('images/store/field-grass.jpg')}}" alt="vachette">
                            </div>
                        </div>
                    <i class="fas fa-chevron-right"></i>
                </div>

    </div>
</section>

{% endblock %}
