{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    - Modification du profil 
            
        
    {{ user.username }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-profil.css') }}">
    {% endblock %}
    {% block body %}
        <section class="profil">
            <h1 class="title-custom marginbt-1">
                Mon profil utilisateur
                                                                                                                            
                                                                                                            
                                                                                            
                                                                            
                                                            
                                            
                            
            </h1>
            <div class="content flex">
                <div class="start-client margin ">
                    <img class="marginbt-1" src="{{ asset('images/avatar/profil-client.png') }}" alt="avatar">
                        {# <p>Modifiez votre avatar ?</p> #}
                        <button class="btn btn-second logout" type="submit" form="form" value="Submit">
                            <a href="{{ path('user_logout') }}">
                                Se déconnecter
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                            
                                                                                                                                                                                            
                                                                                                                                                            
                                                                                                                            
                                                                                            
                                                            
                            </a>
                        </button>
                    </div>
                    {{ form_start(formEdit) }}
                    <div class="infos margin">
                        <h4>
                            Nom d'utilisateur :        
                                                                                                                                        
                                                                                                            
                                                                                
                                                    
                        </h4>
                        <div class="text-icon">
                            <p>
                                {{ form_row(formEdit.username, { 'attr': {'class': "span12",
                                'placeholder': user.username} }) }}
                            </p>
                        </div>
                        <h4>
                            Email :  
                                                                                                                                        
                                                                                                            
                                                                                
                                                    
                        </h4>
                        <div class="text-icon">
                            <p>
                                {{ form_row(formEdit.email, { 'attr': {'class': "span12",
                                'placeholder': user.email} }) }}
                            </p>
                        </div>
                        {{ form_end(formEdit) }}
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    